@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: oklch(98% 0.03 250);
  --foreground: oklch(20% 0.05 250);
}
body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: sans-serif;
}